// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$primary: #3E72E0;
$secondary: #00C0B5;
$tertiary: #1C1D21;
$background: #EDF4F6;
$grey: #D6E1E8;

body {
	background-color: $background;
}


