/*-----------------------------------------

UI ELEMENTS

-----------------------------------------*/

.elements {

  .submit {
    width: 120px;
    height: 60px;
    margin-top: 50px;
    @include buttons($primary, 3px, $white, none);

    &:hover {
      font-weight: bold;
      background-color: $background;
    }
  }

  .submit:focus, .submit:active {
    border:0;
    outline:0;
  }
}

.inputs {

  > input {
    background-color: $white;
    width: 150px;
    height: 50px;
    margin-top: 50px;
  }

  input:focus, input:active {
    outline:0;
  }
}

progress {
  width: 400px;
  height: 20px;
  margin: 50px auto;
  display: block;
  /* Important Thing */
  -webkit-appearance: none;
  border: 2px solid $background;
  border-radius: 3px;
}

progress::-webkit-progress-bar {
  background: $background;
}

/* Chrome */
progress::-webkit-progress-value {
  background: $primary;
}

select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color: $white;
  padding: 12px;
  width: 200px;
  text-align:center;
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
}

#blue:hover {
  background-color: $background;
}

select:focus, select:active {
  border:0;
  outline:0;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: $white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: $background;
  margin: 0 4px;
}

ul.pagination li a.active {
  background-color: $primary;
  color: white;
}

ul.pagination li a:hover:not(.active) {
  background-color: $primary;
  border: 0;
  outline: 0;
}

.square {

  width: 20px;
  position: relative;
  margin: 20px auto;

  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: $secondary;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;

    &:after {
      content: '';
      width: 13px;
      height: 8px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label:after {
      opacity: 1;
    }
  }
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: $white;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-5::-webkit-scrollbar {
  width: 12px;
  background-color: $background;

}

#style-5::-webkit-scrollbar-thumb {
  background-color: $primary;
  border: 2px solid $background;
}